@using Prj_TCC_0._1.Models
@model Categoria 

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro</h2>

@{Html.BeginForm("Salvar", "Categoria");}
@Html.ValidationSummary(true)

<span class ="label label-success">@TempData["SuccessMsg"]</span>
<span class ="label label-danger">@TempData["ErrorMsg"]</span>

<div class ="form-group">
    @Html.LabelFor(x => x.Descricao)
    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.Descricao)
</div>

@Html.ActionLink("Cancelar", "Index", "Peca", new { @type = "button", @class = "btn btn-default"})


<input type="submit" class="btn btn-primary" value="Salvar"/>


@{Html.EndForm();}

