@using Prj_TCC_0._1.Models
@model Peca

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro</h2>

@{Html.BeginForm("Salvar", "Peca", FormMethod.Post);}
@Html.ValidationSummary(true)


<span class ="label label-success">@TempData["SuccessMsg"]</span>
<span class ="label label-danger">@TempData["ErrorMsg"]</span>

<div class ="form-group">
    @Html.LabelFor(x => x.CodConusi)
    @Html.TextBoxFor(x => x.CodConusi, new { @class = "form-control col-lg-12"})
    @Html.ValidationMessageFor(x => x.CodConusi)
</div>

<div class ="form-group">
    @Html.LabelFor(x => x.Tipo.Descricao)
    @Html.DropDownListFor(x => x.Tipo.IdTipo, new SelectList(ViewBag.Tipos, "IdTipo", "Descricao"), new { @class = "form-control"})
    
    @Html.ValidationMessageFor(x => x.Tipo.Descricao)
</div>

@Html.ActionLink("Cancelar", "Index", "Peca", new { @type = "button", @class = "btn btn-default"})


<input type="submit" class="btn btn-primary" value="Salvar"/>


@{Html.EndForm();}